div#status-bar {
	background-position: bottom;
	height: 50px;
}

p#action-bar {
	margin-left: 50px;
	position: absolute;
	text-align: center;
	top: 10px;
}

p#action-bar a {
	margin-right: 5px;
}

div#content {
	padding-bottom: 0px;
	padding-top: 75px;
}

ul#tabs {
	top: 10px;
}

div#slideshow-commands h4 {
	left: 0px;
	position: absolute;
	top: 4px;
}

div#blog div.blog-entry blockquote {
	padding-top: 5px;
}