{% extends "index.html" %}

{% block head %}
{% endblock %}

{% block sortbox %}{% endblock %}



{% block content %}
&nbsp; 

    {% for entry in entries %}
        <div class="posts">
        <div  class="delete_key"><a href="/delete_contact?delete_key={{ entry.key }}">delete?</a></div>
        <a href="/update_star?star_key={{ entry.key }}" style="float: left;" class="{{ entry.star }}" title="Star this entry">
        &nbsp;&nbsp;&nbsp;&nbsp;</a>
        <h2>{{ entry.name }}</h2>
        <h5><a href="/index?o=-2&filter={{ entry.company|urlencode }}" title="Filter and show just {{ entry.company }}">{{ entry.company }}</a>  &nbsp;&nbsp;&nbsp;<a href="/index?o=-1&filter={{ entry.customer_type|urlencode }}" title="Filter and show just {{ entry.customer_type }}">
        {{ entry.customer_type }}</a></h5>
        <!-- <div class="right" id="map_canvas">Location</div> -->
        <div class="posts">Latest Event in History<br>{{ entry.last_contact }} <br> {{ entry.last_item }} <br> 
        <div class='history'><a href="/history?key={{ entry.key }}">see the full history</a></div>
            </div>
        </div>
        <br>
    {% endfor %}
	<br>
	Showing {{ offset }} - {{ entries_len }} of {{ count }} &nbsp;&nbsp;
	{% if show_text %}
	<a href="/index?o={{ sortby }}&filter={{ filter }}&offset={{ new_offset }}"> next >></a>
	{% endif %}
{% endblock %}
<br>
{% block header %}
<div id="header">
   <form action="/add_post" method=post>
        <fieldset>
        <legend>Add a new contact</legend><br>
        <label for="name">Name</label><input type="text" name="name">
        <label for="company">Company</label><input type="text" name="company">
        <label for="customer_type">Type</label>
            <select name="customer_type"><br>
                <option>Customer</option>
                <option>Builder</option>
                <option>Other</option>
            </select>
        <input type="submit" value="Add Contact" />
        </fieldset>
    </form>
</div>
<br>
<div id="header">
<a href="{{ login_url }}">logout</a>
</div>

{% endblock%}