
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html> 
  <head> 
    <title>mcottondesign</title> 
        <link href="/css/style.css" type="text/css" rel="stylesheet"> 
    
  </head> 
  <body> 
  
    {% block container %}{% endblock %}
	
    {% block footer %}{% endblock %}

<!-- Keep scripts at the bottom of the page -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

  </body> 
</html> 
